<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.description }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-white">
    <div class="prose prose-lg mx-4 max-w-3xl md:mx-auto py-12 md:py-24 prose-a:underline prose-a:text-teal-500 hover:prose-a:text-teal-500 hover:prose-a:no-underline">
      <header class="">
        <h1 class="text-5xl font-extrabold my-1">{{ page.title }}</h1>
        <h2 class="text-3xl font-extralight my-1">{{ page.description }}</h2>
        <p class="text-normal font-light my-1">{{page.contact}}</p>
      </header>
      <div class=" my-16">
        {{ content }}
      </div>

    </div>
  </body>
</html>
