<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.description }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body class="site">
    <div class="mx-4 max-w-3xl md:mx-auto py-12 md:py-24">
      {% include navigation.html %}

      <div class="prose prose-lg max-w-none">
        <header class="">
          <h1 class="text-5xl my-1">
            <a href="/" class="font-light">{{ page.title }}</a>
          </h1>
          <h2 class="text-3xl font-extralight my-1">{{ page.description }}</h2>
          <p class="text-normal font-light my-1">{{ page.contact }}</p>
        </header>
        <div class="my-16 font-light">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
