<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% include theme-init.html %}
    <title>{{ site.title }} — {{ page.description }}</title>
    <meta name="description" content="{{ page.summary | default: page.description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="{{ "/assets/css/main.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"
    >
  </head>

  <body class="site">
    {% include masthead.html %}
    <main>
      {{ content }}
    </main>
    {% include site-footer.html %}
    {% include scripts.html %}
  </body>
</html>
