<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% include theme-init.html %}
    <title>{{ site.title }} - {{ page.title }}</title>

    {% assign page_url = page.url | prepend: site.url | prepend: site.baseurl %}
    {% assign page_description = page.excerpt
      | default: page.description
      | default: 'A post by '
      | append: site.title
      | strip_html
      | strip_newlines
      | truncate: 160
    %}

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ page.title }} - {{ site.title }}">
    <meta name="description" content="{{ page_description }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
    <meta property="og:description" content="{{ page_description }}">
    {% if page.image %}
      <meta
        property="og:image"
        content="{{ page.image | prepend: site.url | prepend: site.baseurl }}"
      >
    {% endif %}
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ page_url }}">
    <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
    <meta name="twitter:description" content="{{ page_description }}">
    {% if page.image %}
      <meta
        name="twitter:image"
        content="{{ page.image | prepend: site.url | prepend: site.baseurl }}"
      >
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body class="site">
    <div class="mx-4 max-w-3xl md:mx-auto py-12 md:py-24">
      {% include navigation.html %}

      <!-- Post Content -->
      <article class="prose prose-lg max-w-none">
        <header class="mb-8">
          <h1 class="text-4xl md:text-5xl my-1 font-light">{{ page.title }}</h1>
          {% if page.date %}
            <p class="post-meta text-sm font-light my-1">
              {{ page.date | date: '%B %d, %Y' }}
            </p>
          {% endif %}
        </header>
        <div class="font-light">
          {{ content }}
        </div>
      </article>
    </div>
    {% include scripts.html %}
  </body>
</html>
